# Conexiunea la baza de date MongoDB (de pe MongoDB Atlas sau local)
DATABASE_URL=""

# Secretul pentru NextAuth (orice șir aleator lung de caractere)
NEXTAUTH_SECRET=""

# Credențiale opționale pentru Login cu Google și GitHub
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_ID=""
GITHUB_SECRET=""

# Cloudinary (pentru încărcarea de imagini)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
